body {
font-family: 'Courier New', 'Times New Roman', Times, serif;
font-size: 16px;
margin: 2em;
color: #333;
line-height: 1.6;
background-color: #f8f8f8;
}
h1, h2 { color: #444; margin-top: 0; margin-bottom: 0.5em; }
a { color: #0077cc; text-decoration: none; }
a:hover { text-decoration: underline; }
.tab { padding: 0.5em 0; max-width: 800px; margin: 0 auto; }
#nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
#nav ul {
    padding-left: 0; 
}
#nav li {
    display: inline-block;
    text-align: left;
    margin-right: 5px; 
}
#nav li:last-child {
    margin-right: 0;
}

#profile-image {
    width: 150px;
    border-radius: 50%; /* Creates the circular effect */
    display: block; /* Helps centering */
    margin: 0 auto; /* Centers the image */
}
#about-container {
    display: flex; /* Uses Flexbox for layout */
    align-items: center; /* Centers items vertically */
}

#profile-image {
    width: 150px;
    border-radius: 50%; /* Creates the circular effect */
    margin-right: 20px; /* Adds space between image and text */
}

#about-text {
    flex-grow: 1; /* Allows the text to take up the remaining space */
}
@media screen and (max-width: 600px) {
body {
    font-size: 14px;
}

#about-container {
    flex-direction: column;
    align-items: center; /* Updated to center */
}

#profile-image {
    margin-right: 0;
    margin-bottom: 20px;
    display: block; /* Ensures the image is a block-level element */
    margin-left: auto; /* Centers the image */
    margin-right: auto;
}}
.footnote {
    font-size: smaller;
    vertical-align: super;
    color: #0077cc;
    position: relative;
    cursor: pointer;
}
.footnote:hover .footnote-content {
    visibility: visible;
    opacity: 1;
}
.footnote-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 150%;
    left: 50%;
    color: rgb(43, 43, 43);
    transform: translate(-50%, 0);
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: smaller;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    text-align: center;
    transition: all 0.3s ease;
    width: 250px;
    white-space: normal; 
    z-index: 1;
    max-height: 150px; 
    overflow-y: auto;
}
::-webkit-scrollbar-thumb {
    background-color: darkgrey; 
    border-radius: 10px; 
    border: 3px solid transparent; 
    background-clip: content-box; 
}
::-webkit-scrollbar-track {
    background: lightgrey; 
    border-radius: 10px; 
    box-shadow: inset 0 0 5px white;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px; 
}
::-webkit-scrollbar-thumb:hover {
    background: grey;
}
.blog-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px; 
    /* box-shadow: 0px 0px 15px rgba(0,0,0,0.2);  */
}

.slider-container {
    text-align: center;
    margin: 20px 0;
}

.slider-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    box-sizing: border-box; 
}

.slider {
    width: calc(100% - 20px);
    max-width: 300px; 
    height: 25px;
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .slider {
        width: calc(100% - 20px); 
        height: 25px; 
    }
    .slider-container {
        margin: 15px 0; 
    }
}

#layerNumber {
    padding-right: 10px; 
    margin-top: 1px;
}

#randomWeightsCheckbox {
    opacity: 0.5;
    margin-top: -1px;
    margin-right: 5px; 
    margin-bottom: 0;
    margin-left: 70px;
}
@media screen and (max-width: 600px) {
    .slider-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .slider,
    #layerNumber {
        margin-bottom: 10px; /* for example */
    }
    .checkbox-container {
        display: flex; 
        align-items: center; 
        margin-top: 10px;
    }
    #randomWeightsCheckbox {
        margin-right: 5px; 
    }
}
table {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
/* Styling specifically for the first column */
td:first-child {
    font-weight: bold; 
    background-color: #f3f3f3;
}
th {
    background-color: #f3f3f3;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
td:not(:first-child):hover {
    background-color: #b8d1f3;
}
cite a {
    text-decoration: underline; 
    color: #0000EE; 
    cursor: pointer; 
  }
  
cite a:hover,
cite a:focus {
color: #551A8B;
}
.figure {
    border: 1px solid #ddd;
    padding: 4px; 
    margin: 16px 0; 
    text-align: center; 
    border-radius: 6px; 
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.figure img {
    width: 100%; 
    border-radius: 4px; 
    margin-bottom: 8px;
}

.figure figcaption {
    color: #666;
    font-size: 0.8em; 
    font-style: italic; 
    margin-top: 4px; 
    text-align: left;
    margin-left: 10px;
}
.figure-side {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid #ddd;
    padding: 4px; 
    margin: 16px 0; 
    border-radius: 6px; 
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.figure-side img {
    flex: 0 0 65%; /* Adjust to desired image width, currently 50% */
    max-width: 65%; /* Limit the image's maximum width */
    border-radius: 4px; 
    margin-right: 8px; /* Spacing between the image and caption */
}

.figure-side figcaption {
    flex: 1; /* Allow caption to take the remaining space */
    color: #666;
    font-size: 0.8em; 
    font-style: italic; 
    margin-left: 10px; /* Space from the left boundary */
    text-align: left;
}
@media (max-width: 750px) {
    .figure-side {
        display: block; /* Change from flex to block to stack child elements */
        /* Other styles remain the same */
    }

    .figure-side img {
        flex: none; /* Remove flex sizing */
        max-width: 100%; /* Allow image to expand to the full width */
        margin-right: 0; /* Remove right margin for the image */
        /* Adjust if you need some space between the image and the caption */
    }

    .figure-side figcaption {
        flex: none; /* Remove flex sizing */
        margin-left: 0; /* Align with the image */
        text-align: center; /* Optionally center the text */
        margin-top: 8px; /* Optional: space between the image and caption */
    }
}
.internal-link {
    color: #0077cc; /* Or any other color you prefer */
}
